Seleksi baris dengan 'between()'
Fungsi between ini akan menyertakan 2 buah nilai, yang bermaksud untuk starting dan ending nya
Inclusive berfunsi untuk menyertakan starting dan ending

In [1]:
import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

In [4]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')
df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)
df

   A  B  C  D  E
0  3  2  8  4  6
1  9  6  7  7  2
2  9  3  2  6  2
3  5  8  2  7  1
4  1  1  8  8  7
5  8  4  4  4  2
6  1  6  5  4  6
7  9  2  9  3  4
8  1  8  9  9  6
9  3  1  8  6  1

In [5]:
df[df['A'].between(2, 5)]

   A  B  C  D  E
0  3  2  8  4  6
3  5  8  2  7  1
9  3  1  8  6  1

In [6]:
df[df['A'].between(2, 5, inclusive=False)]

C:\Users\ROSIRA~1\AppData\Local\Temp/ipykernel_10788/2550752053.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  df[df['A'].between(2, 5, inclusive=False)]

   A  B  C  D  E
0  3  2  8  4  6
9  3  1  8  6  1