Menghitung jumlah baris menurut kriteria tertentu

In [1]:
import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')
df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)
df

   A  B  C  D  E
0  5  5  5  6  3
1  6  2  5  5  9
2  9  9  3  6  1
3  8  6  6  3  9
4  4  5  6  3  1
5  1  6  2  7  6
6  8  2  6  5  5
7  7  2  9  6  8
8  9  4  9  1  3
9  2  6  9  6  8

In [3]:
(df['A']<5).sum()

3

In [4]:
(df['A']<5).mean()

0.3